@charset "UTF-8";


body {
	background-color: beige;
}
h1 {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 100px;
	font-size: 50px;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.button {
	display: inline-block;
	padding: 30px 60px;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	background-color: whitesmoke;
	border-radius: 7px;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: black;
	border: 1px solid black;
	color: white;
}

.button1 {
	display: inline-block;
	padding: 30px 60px;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	background-color: whitesmoke;
	border-radius: 7px;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button1:hover {
	background-color: black;
	border: 1px solid black;
	color: white;
}